/* app.css */
$primary: #7c3aed;

/* Global Screen Background */
Screen {
  background: #0f0f14;
}

/* Header & Footer */
Header,
Footer {
  background: #16161d;
  color: #cdd6f4;
}

/* Container Styling */
Container {
  padding: 1;
}

/* Input for search */
Input#search {
  margin: 1 2;
  padding: 0 1;
  background: #181825;
  color: #cdd6f4;
  border: round #7c3aed;
}

/* DataTable */
DataTable {
  background: transparent;
  color: #cdd6f4;
  border: round #313244;
}

/* Table Headers */
DataTable > .datatable--header {
  background: #181825;
  color: #bac2de;
}

/* Table Rows */
DataTable > .datatable--odd-row {
  background: #0f0f14;
}

DataTable > .datatable--even-row {
  background: #11111b;
}

/* Cursor Row */
DataTable > .datatable--cursor {
  background: #7c3aed;
  color: #ffffff;
}

/* Hover Row */
DataTable > .datatable--hover {
  background: #5b21b6;
  color: #ffffff;
}

/* Hidden Elements */
.hidden {
  display: none;
}

/* Download Details Modal */
DownloadDetails {
  background: #0f0f14;
}

DownloadDetails DataTable {
  margin: 2;
  border: round #7c3aed;
  background: #11111b;
}

/* Modal Header/Footer */
DownloadDetails > Header,
DownloadDetails > Footer {
  background: #16161d;
}

.title {
  margin-bottom: 1;
  color: #7c3aed;
}

Input:focus {
  border: heavy #7c3aed;
}

Select {
  border: heavy #7c3aed;
  background: black;
  color: white;
}

Select:focus {
  border: heavy #7c3aed;
}
Select > .option {
  background: #7c3aed;
}

OptionList > .option-list--option {
  color: white;
}

OptionList > .option-list--option-highlighted {
  background: #7c3aed;
  color: white;
}

Button {
  text-style: bold;
}

Button:focus {
  text-style: bold;
}

Button:focus {
  border: tall $primary;
  color: white;
}

ConfirmModal {
  align: center middle;
  background: #0f0f14 60%;
}

ConfirmModal #confirm-delete {
  width: auto;
  min-width: 40;
  max-width: 70;
  height: auto;
  margin: 4 8;
  padding: 2 4;
  background: #11111b;
  border: round #7c3aed;
  align: center middle;
}

ConfirmModal Static {
  width: 1fr;
  margin-bottom: 2;
  content-align: center middle;
  color: #cdd6f4;
}

ConfirmModal Horizontal {
  width: 1fr;
  height: auto;
  align: center middle;
  margin-top: 1;
}

ConfirmModal Button {
  border: tall transparent;
  width: 1fr;
  min-width: 5;
  margin: 0 2;
}
